spring:
  datasource:
    druid:
      url: jdbc:mysql://192.168.216.135:3306/myblog?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: hyh123456
      initial-size: 1
      min-idle: 1
      max-active: 20
      test-on-borrow: true
      # MySQL 8.x: com.mysql.cj.jdbc.Driver
      driver-class-name: com.mysql.cj.jdbc.Driver
mybatis:
    type-aliases-package: com.lucas.blog.myblog.entity
    mapper-locations: classpath:mapper/*.xml
logging:
  level: info
  file: log/blog-pro.log





#配置城市文件路径
city:
  path: /classes/GeoLite2-City.mmdb



#配置图片上传文件路径
images:
  path: /classes/static/images









