

<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->      <!--使得thymeleaf模板进行后台变量取值时不显示红色波浪线-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::pageHead(~{::title})">
    <title>生活趣事</title>
    <meta charset="UTF-8">
</head>
<body style="background-color: #F5F5F5 !important;">
<header th:replace="_fragments::pageHeader" class="header-navigation"></header>
<div class="pagebg">
    <img src="../../static/images/8e7eb1ee045adc5c2ba22fbafcef56d5.jpg"
         th:src="@{/images/ef90050721d340e6d4cccf9979a2f553.jpg}" alt="慢生活">
</div>
<div class="container" style="position: relative;">
    <h1 class="t_nav">
        <span>慢生活,好好欣赏沿路的风景，会发现很多细微世界里的精彩！</span>
        <a href="" class="n1">网站首页</a>
        <a href="" class="n2">杂谈</a>
    </h1>

    <main>
        <div class="blogsbox">
            <th:block th:replace="_fragments::articleInfo"></th:block>
            <div class="pagelist"></div>
        </div>
    </main>

    <aside class="sidebar">
        <th:block th:replace="_fragments::pageRight"></th:block>
    </aside>
</div>

<footer>
    <p>Design by <a href="javascript:void(0)" >Heyuanhui</a> <a href="javascript:void(0)">蜀ICP备11002373号-1</a>
    </p>
</footer>
<a href="http://more.yangqq.com/life/#" class="cd-top">Top</a>

<script th:src="@{/js/back_special.js}"></script>
<script th:src="@{/js/mouse.js}"></script>

</body>
</html>